{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
    <title>{{ name }}</title>
</head>
<body>
    <div class="box">
        <img src="{% static 'asset/p1.jpg' %}" alt="" class="box-img">
        <h1>{{ name }}</h1>
        <p>NPM : {{ npm }}</p>
        <p>Angkatan : 2018</p>
        <p>Hobi : Tidur</p>
        <p>Deskripsi : Mahasiswa sederhana</p>
        <p>Tempat Kuliah : Universitas Indonesia</p>
    </div>
</body>
</html>
